<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
        <!-- Add other navigation links as needed -->
    </nav>

    <!-- Dealer Details Section -->
    <div class="container mt-5">
        <h2>Dealer Details</h2>
        <p><strong>Name:</strong> {{ dealer.full_name }}</p>
        <p><strong>Address:</strong> {{ dealer.address }}, {{ dealer.city }}</p>
        <p><strong>ID:</strong> {{ dealer.id }}</p>
        <p><strong>Latitude:</strong> {{ dealer.lat }}</p>
        

        <!-- Add a link to the add_review view for the authenticated user -->
        {% if user.is_authenticated %}
             <p><a href="{% url 'djangoapp:add_review' dealer.id %}">Add a Review</a></p>
        {% endif %}
        <!-- Reviews Section -->
        <h2 class="mt-4">Reviews</h2>
        <div class="card-columns mt-3">
            {% for review in reviews %}
                <div class="card">
                    {% if review.sentiment == 'positive' %}
                        <img class="card-img-top" src="{{MEDIA_URL}}/emoji/positive.png" alt="Positive Emoji">
                    {% elif review.sentiment == 'negative' %}
                        <img class="card-img-top" src="{{MEDIA_URL}}/emoji/negative.png" alt="Negative Emoji">
                    {% else %}
                        <img class="card-img-top" src="{{MEDIA_URL}}/emoji/neutral.png" alt="Neutral Emoji">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ review.car_make }} {{ review.car_model }} ({{ review.car_year }})</h5>
                        <p class="card-text">{{ review.review }}</p>
                        <p class="card-text"><strong>Purchase:</strong> {{ review.purchase }}</p>
                        <p class="card-text"><strong>Purchase Date:</strong> {{ review.purchase_date }}</p>
                        <p class="card-text"><strong>Sentiment:</strong> {{ review.sentiment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No reviews available.</p>
        {% endif %}
    </div>

</body>

</html>
